header {
        text-align: center;
        background: url("http://i.imgur.com/uy7zaVS.jpg");
        background-size: cover;
        background-position: center;
        color: white;
        font-family: helvetica;
    }
    a {
        color: white;
    }
    h1 {
        font-size: 70px;
    }
    h2 {
      color: black;
      text-align: center;
      font-family: helvetica;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 50px 0px 50px;
    }
    article{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
      text-align: justify;
    }
    submission {
      text-align: center;
    }
    @media (max-width: 700px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
    p {
      font-size: 22px;
      color: black;
      font-family: helvetica;
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
      background: grey;
    }
    input[type="submit"] {
      background: black;
      color: white;
    }